<div class="teaserflex">
    <div class="single-item">
        <div class="single-item-image overlay-effect">
            <f:link.typolink parameter="{data.button_link}">
                <f:for each="{data.image}" as="image">
                    <f:image image="{image}" width="120" maxHeight="100"/>
                </f:for>
            </f:link.typolink>
        </div>
        <div class="single-item-text">
            <p>{data.subheader}</p>
            <h4><f:link.typolink parameter="{data.button_link}">{data.header}</f:link.typolink></h4>
            <f:format.html>{data.bodytext}</f:format.html>
        </div>    
        <div class="button-bottom"><f:link.typolink class="button-default" parameter="{data.button_link}">{data.button_text}</f:link.typolink></div>
    </div>
</div>