<div class="about-area" >
    <div class="contentcontainer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 aboutareadata">
                    <header><h2 class=""><f:link.typolink class="btn btn-dark btn-lg" parameter="{data.button_link}">{data.header}</f:link.typolink></h2></header>
                    <div class="ce-textpic">
                        <div class="ce-bodytext">
                            <f:format.html>{data.bodytext}</f:format.html>
                            <div class="button-bottom"><f:link.typolink class="button-default" parameter="{data.button_link}">{data.button_text}</f:link.typolink></div>
                        </div>
                    </div>
                    <f:if condition="{data.image.0}">
                        <div class="abaut-after" style="background-image: url('{f:uri.image(image: data.image.0)}');"></div>
                    </f:if>

                </div>
            </div>
        </div>
    </div>
</div>